[submodule "ArtProject"]
	path = ArtProject
	url = https://github.com/me9hanics/ArtProject.git
[submodule "DA3-phdma"]
	path = DA3-phdma
	url = https://github.com/me9hanics/DA3-phdma.git
[submodule "RL"]
	path = RL
	url = https://github.com/me9hanics/RL.git
[submodule "DataEngineering-SQL"]
	path = DataEngineering-SQL
	url = https://github.com/me9hanics/DataEngineering-SQL.git
[submodule "AWS-job-posting-analysis"]
	path = AWS-job-posting-analysis
	url = https://github.com/me9hanics/AWS-job-posting-analysis.git
[submodule "painter-network-exploration"]
	path = painter-network-exploration
	url = https://github.com/me9hanics/painter-network-exploration.git
